.grid {
	position: absolute;
	width: 560px;
	height: 300px;
	border: solid 1px black;
	margin-top: 100px;
  }
  
  .user {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: cyan;
  }
  
  .block {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: orange;
  }
  
  .ball {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: purple;
  }
  h1{
	color: darkblue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
  
  }
  p{
	color:darkgreen;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
  }